Bio
biopython
termcolor
fair-esm
fastparquet
karateclub
lifelines
matplotlib
networkx
numpy~=1.26.4
pandas~=2.2.1
pyarrow
rdkit
rdkit-pypi
scikit-learn
scikit-mol
scipy~=1.12.0
seaborn
sentencepiece
tabulate
torch-geometric
torch~=2.2.1
tqdm
transformers
wandb